* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: deepskyblue;
    margin: 0;
}

h1 {
    font-family: 'Langar', cursive;
    font-size: 100px;
    position: page;
}

h2 {
    font-family: 'Langar', cursive;
    font-size: 50px;
}

p {
    font-family: 'Langar', cursive;
}

header {
    background-image: url("img/flower.jpg");
    background-size: cover;
    box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, 0 0 50px midnightblue inset,
    5px 5px 15px aqua, 0 0 20px magenta;
    width: 100%;
    height: 100%;
    color: deeppink;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    font-family: 'Langar', cursive;
    font-size: 17px;
    width: 100px;
    height: 100px;
    color: magenta;
    background-image: url("img/flower.jpg");
    background-size: cover;
    border: 3px solid magenta;
    border-radius: 15px;
    box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, 0 0 10px midnightblue inset,
    5px 5px 15px aqua, 0 0 20px magenta;
    margin-left: 20px;
}

footer {
    background-image: url("img/flower.jpg");
    background-size: cover;
    box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, 0 0 50px midnightblue inset,
    5px 5px 15px aqua, 0 0 20px magenta;
    text-align: center;
    font-size: 30px;
    color: magenta;
    height: 300px;
    width: 100%;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.flexbox-item {
    text-align: center;
}

#portfolio {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: 40px;
    background-color: dodgerblue;
    box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, 0 0 50px midnightblue inset,
    5px 5px 15px aqua, 0 0 20px magenta;
    padding: 20px;
}

#portfolio img {
    border: 1px solid magenta;
    border-radius: 15px;
    box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, 0 0 30px midnightblue inset,
    5px 5px 15px aqua, 0 0 20px magenta;
    margin: 20px;
    width: 600px;
    height: 450px;
}

#about img {
    border: 1px solid magenta;
    border-radius: 15px;
    box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, 0 0 50px midnightblue inset,
    5px 5px 15px aqua, 0 0 20px magenta;
    margin: 20px;
    width: 400px;
    height: 300px;

}

#about {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 25px;
    background-color: lightskyblue;
    box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, 0 0 50px midnightblue inset,
    5px 5px 15px aqua, 0 0 20px magenta;
}

.header {
    width: 100%;
    height: 700px;
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid magenta;
    border-radius: 10px;
    background-image: url("img/flower.jpg");
    background-size: cover;
    box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, 0 0 50px midnightblue inset,
    5px 5px 15px aqua, 0 0 20px magenta;
    font-size: 25px;
    z-index: 10;
    width: 500px;
    max-width: 80%;
}

.window.active {
    transform: translate(-50%, -50%) scale(1);
}

.window-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.window-flashcards {
    display: flex;
    flex-direction: column;
}

.window-virtual-piano {
    display: flex;
    flex-direction: column;
}

.social-network img {
    width: 200px;
    height: 200px;
}

#menu a, #hamburger-menu a {
    color: cornflowerblue;
}

#menu a:hover, #hamburger-menu a:hover, #close-menu-hamburger:hover, header h1:hover {
    color: blueviolet;
}

#menu {
    width: 470px;
    height: 150px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}


/* Hamburger menu */
#menu-hamburger {
    height: 500px;
    width: 130px;
    background-color: #00bfff;    
    position: fixed;
    display: none;
    flex-direction: column;
    top: 200px;
    left: 0;
    justify-content: space-around;
    text-align: center;
    padding: 20px 20px 0;
    font-size: 17px;    
    border-radius: 15px;
    box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, 0 0 10px midnightblue inset,
    5px 5px 15px aqua, 0 0 20px magenta;
    cursor: pointer;
}


@media (max-width: 1100px) {
    .hamburger, #menu-hamburger {
        display: none;
    }

    #open-menu-hamburger {
        display: block;
    }
}

@media (max-width: 1100px) {
    #open-menu-hamburger {
        display: block;
    }

    #portfolio {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 40px;
        background-color: dodgerblue;
    }

    #menu {
        display: none;
    }
}

#close-menu-hamburger {
    font-family: 'Langar', cursive;
}

#open-menu-hamburger {
    height: 30px;
    width: 30px;
}


